.board {
  /* position: fixed; */
  background-color: black;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.square {
  background-color: white;
  height: calc((400px - 40px) / 3);
  width: calc((400px - 40px) / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
}

.square:hover {
  cursor: pointer;
}
